* {
    padding: 0px;
    margin: 0px;
    font-family: roboto;
}

/* header */

header {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
    position: sticky; /* reste en haut même en scrollant */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
}

/* Nom à gauche */
.brand h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2563eb;
}

/* Menu à droite */
.menu {
    display: flex;
    gap: 30px;
    /*sert à espacer les éléments à l'intérieur d'un conteneur flex ou grid */
}

.menu a {
    text-decoration: none;
    color: #1f2937;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .menu a {
        padding: 8px 0;
    }
}

/* accueil */

.accueil-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 150px;
    background-color: #f3f4f6;
}

.accueil-texte {
    margin-right: 10px;
}

.accueil-slogan {
    font-size: 1.2rem;
    color: #2563eb;
    font-weight: bold;
    margin-bottom: 10px;
}

.accueil-titre {
    font-size: 3rem;
    margin: 10px 0;
    color: #1f2937;
}

.accueil-description {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #6b7280;
}

.accueil-boutons button {
    padding: 10px 20px;
    border: 2px solid #2563eb;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}

#btn-travaux {
    background-color: #2563eb;
    color: white;
}

#btn-contact {
    background-color: #f3f4f6;
    color: #2563eb;
}

.accueil-boutons #btn-travaux:hover {
    background-color: #1e40af;
    border-color: #1e40af;
}

.accueil-boutons #btn-contact:hover {
    background-color: #2563eb;
    color: white;
}

.accueil-image img {
    width: 1300px;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    /* transition: transform 0.3s ease; */
}

.accueil-image img:hover {
    transform: scale(1.05);
}

/* apropos */

.apropos-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 150px;
}

.apropos-image img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.apropos-image img:hover {
    transform: scale(1.05);
}

.apropos-texte {
    margin-left: 60px;
}

.apropos-titre {
    font-size: 2rem;
    margin: 10px 0;
    color: #1f2937;
    margin-bottom: 20px;
}

.apropos-description {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #1f2937;
}

.apropos-bouton button {
    background-color: #2563eb;
    color: white;
    padding: 10px 20px;
    border: 2px solid #2563eb;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}

.apropos-bouton #btn-contact-apropos:hover {
    background-color: #1e40af;
    border-color: #1e40af;
}